<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="commonCodeMapper">

    <select id="selectCommonCodes" parameterType="map" resultType="map">
        SELECT
            CODE AS code,
            CODE_NAME AS codeName
        FROM TB_COMMON_CODE
        WHERE 1=1

        <if test="codeGroupNumber != null">
            AND GROUP_CODE = #{codeGroupNumber}
        </if>

        <if test="useYn != null">
            AND USE_YN = #{useYn}
        </if>

        ORDER BY SORT_ORDER
    </select>

</mapper>
